@import './variables';
@import './normalize';
@import './preview';
@import './_garanties';
@import './opportunities';
@import './about';
@import './advantages';
@import './complect';

.wrapper{
   height: 100%;
   width: 100%;
   background-color: $red;

   .container{
      max-width: 1440px;
      background-color: $white;
      margin: 0 auto;
   }
}